.goods__list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.goods__item {
    padding: 5% 3%;
}

.goods__avatar {
    margin-bottom: 10%;
    width: rem(250px);
    height: rem(180px);
}

.goods__info {
    display: flex;
}

.goods__title {
    position: relative;
}

.goods__content {
    position: absolute;
    height: 0px;
    overflow: hidden;

    @include tablets {

    }
}