html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

body, html {
  height: 100%;
}

body {
  font-family: "Piazzolla", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5 h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.goods {
  text-align: center;
}

.goods__preview {
  font-weight: bold;
}

.goods__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.goods__item {
  padding: 5% 3%;
}

.goods__avatar {
  margin-bottom: 10%;
  width: 13.8888888889rem;
  height: 10rem;
}

.goods__info {
  display: flex;
}

.goods__title {
  position: relative;
}

.goods__content {
  position: absolute;
  height: 0px;
  overflow: hidden;
  text-align: start;
}

.goods__like {
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #a750c7;
  box-shadow: 0 -3px #da73e6 inset;
  transition: 0.2s;
}
.goods__like:hover {
  background: #d457cc;
}

.modal__window {
  display: none;
}

.modal__container {
  padding: 2%;
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 232, 232, 0.3);
}

.modal__main-info {
  display: flex;
}

.modal__goods-name {
  display: flex;
  flex-direction: column;
}

.modal__slider-img {
  width: 8.3333333333rem;
  height: 4.4444444444rem;
}

.modal__img {
  width: 13.8888888889rem;
  height: 10rem;
}

.form {
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
    padding: 0 2%;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0;
  }
}

.form__block {
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 0.2777777778rem 0.3333333333rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 50%;
  }
}
.form__input--textarea {
  height: 4.4444444444rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 75%;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form__btns {
    padding-left: 5%;
  }
}