html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

body, html {
  height: 100%;
}

body {
  font-family: "Piazzolla", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5 h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.goods__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.goods__item {
  padding: 5% 3%;
}

.goods__avatar {
  margin-bottom: 10%;
  width: 13.8888888889rem;
  height: 10rem;
}

.goods__info {
  display: flex;
}

.goods__title {
  position: relative;
}

.goods__content {
  position: absolute;
  height: 0px;
  overflow: hidden;
}